@media only screen and (max-width: 978px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    /* grid-template-rows: 0.2fr 2.2fr; */
    -ms-grid-rows: 0.2fr 3fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "nav" "main";
  }
  #sidebar {
    display: none;
  }
  .sidebar__title > i {
    display: inline;
  }
  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 855px) {
  .main__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
  .charts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}
